
.product-create__title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: left;
}

.product-create__errors {
    margin-bottom: 2rem;
}

.product-create__wrapper {
    width: 60%;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.product-create__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* フォームの各項目 */
.product-create__form-item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ラベル */
.product-create__label {
    width: 12rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}

/* 必須マーク */
.product-create__required {
    color: red;
    margin-left: 0.25rem;
    font-size: 1.25rem;
}

/* 共通フォーム要素（input, select, textarea） */
.product-create__input,
.product-create__select,
.product-create__textarea,
.product-create__file {
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;;
}

.product-create__textarea {
    height: 4rem;
    resize: vertical;
    margin-top: 0.25rem;
}

.product-create__file {
    flex: 1;
    height: 2.5rem;           /* ← 他のinputと揃える高さに強制 */
    padding: 0 0.75rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
}

.product-create__file::-webkit-file-upload-button {
    border: none;
    background: transparent;
}


/* ボタン配置 */
.product-create__button-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
}

/* ボタン共通スタイル */
.button {
    display: inline-block;
    padding: 0.rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-width: 6.5rem;
    transition: background-color 0.2s;
}

/* 各種ボタンの色 */
.product-create__button-register {
    background-color: #f48a12;
}

.product-create__button--back {
    background-color:#21e2f3;
    color: black;
}
