/* create, show, edit共通------------------ */
/* 商品登録フォーム全体の枠 */
.product_form-wrapper {
    width: 60%;
    padding: 20px;
    border: 1px solid #000000;
}

/* フォームの各項目 */
.product_form-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5rem;
}

/* ラベル */
.product_form-item label {
    width: 13rem;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

/* 入力欄、セレクトボックス、テキストエリア */
.product_form-item input[type="text"],
.product_form-item input[type="number"],
.product_form-item input[type="file"],
.product_form-item select,
.product_form-item textarea {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* テキストエリア */
.product_form-item textarea {
    height: 100px;
}

/* ボタンエリア */
.product_form-buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 30px;
}

/* 必須マーク（*） ※create,editのみ*/
.required {
    color: red;
    margin-left: 5px;
    font-size: 20px;
    vertical-align: super;
}

/* 以下は名称をそれぞれ変えるか検討中... */
/* 新規登録ボタン */
.product_form-submitbutton {
    background-color: orange;
}

/* 戻るボタン */
.product_form-backbutton {
    background-color: rgb(34, 200, 255);
}
