.login-form {
    text-align: center;
    margin: 5rem;
}

.login-form__title {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.login-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__input {
    width: 50%;
    margin: 1rem 0;
    font-size: 1rem;
}

.login-form__button-wrapper {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

/* 共通ボタン */
.login-form__button {
    width: 10rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 0;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* ボタン修飾 */
.login-form__button--submit {
    background-color: #00ffff;
}

.login-form__button--register {
    background-color: #ff8c00;
}

.alert {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #f44336;
    background-color: #ffecec;
    color: #d8000c;
    font-size: 1rem;
    line-height: 1.5;
}
