.register-form {
    text-align: center;
    margin: 5em;
}

.register-form__title {
    padding: 0.5em;
    font-size: 2rem;
    font-weight: bold;
}

.register-form__container {
    margin-top: 2em;
}

.register-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form__input {
    width: 50%;
    margin: 1em 0;
    font-size: 1rem;
}

.register-form__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.register-form__button--submit {
    background-color: #ff8c00;
    margin-right: 3em;
    width: 10em;
    color: black;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;
}

.register-form__button--back {
    background-color: #00ffff;
    margin-left: 3em;
    width: 10em;
    color: black;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    text-decoration: none;
}
