.product_item-info {
    font-size: 20px;
}

.product_form-item textarea.product_detail-comment {
    width: 100%;
    min-height: 100px; /* 最低100pxの高さ */
    resize: none; /* ユーザーが手動でサイズ変更できないようにする */
    border: 1px solid #ccc;
    font-size: 20px;
    margin-left: 4rem;
}
